{% extends 'basetemplate.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-sm-12 col-lg-9">
        <h1 class="text-center">
            {{ blogeintrag.title }}
        </h1>
        {{ blogeintrag.maintext|safe }}
        </br>
        {{ blogeintrag.pub_date}}
        </br>
        <a href="{% url 'blog:blog' %}">
            <button type="button" class="btn btn-secondary mt-3 mb-3">
                Zurück zu allen Blogs
            </button>
        </a>
    </div>

    <div class="col-sm-12 col-lg-3">
        {% for Blogeintrag in latest_blog %}
        <div class="list-group">
            <a href="{% url 'blog:blogdetail' Blogeintrag.id %}" class="list-group-item list-group-item-action"
                aria-current="true">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ Blogeintrag.title }}</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">{{ Blogeintrag.sidetext|safe }} </p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}