{% extends 'basetemplate.html' %}

{% block content %}

<div class="row mt-5">

    <div class="col-sm-12 col-lg-9">
        <h1 class="text-center">
            {{ chosen_Blogpost.title }}
        </h1>
        </br>
        {{ chosen_Blogpost.maintext|safe }}
        </br>
        </br>
        {{ chosen_Blogpost.picture|safe }}
        </br>
        {{ chosen_Blogpost.pub_date}}
        </br>
        <a href="{% url 'blog:blog' %}">
            <button type="button" class="btn btn-secondary mt-3 mb-3">
                Zurück zu allen Blogs
            </button>
        </a>

        <div class="mb-5">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
                {% for Comment in all_comments %}
                <div class="fs-4 mt-3">
                    {{ Comment.name }}
                </div>
                <div class="mb-2 small_date">
                    {{ Comment.pub_date }}
                </div>
                <div>
                    {{ Comment.text }}
                </div>
            </form>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <h3 class="text-center fst-italic"> Most Viewed </h3>
        {% for Blogpost in most_viewed_blogs %}
        <div class="list-group">
            <a href="{% url 'blog:blogdetail' Blogpost.id %}" class="list-group-item list-group-item-action"
                aria-current="true">
                <div class="row mb-3">
                    <div class="col-8">
                        <h4 class="mb-1">{{ Blogpost.title }}</h4>
                    </div>
                    <div class="col-4">
                        <small>{{ Blogpost.pub_date|timesince }} ago</small>
                    </div>
                </div>
                <p class="mb-1">{{ Blogpost.previewtext|safe }} </p>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}