{% extends 'basetemplate.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-sm-12 col-lg-9">
        {% if latest_blog %}

        {% for Blogeintrag in page_obj %}
        <div>
            <h1 class="text-center">
                {{ Blogeintrag.title }}
            </h1>
            </br>
            {{ Blogeintrag.previewtext|safe }}
            <a href="{% url 'blog:blogdetail' Blogeintrag.id %}">Mehr lesen</a>
        </div>
        {% endfor %}

        {% else %}
        <p>No Blogs are available.</p>
        {% endif %}

        <div class="pagination mt-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1"><button type="button" class="btn btn-secondary">&laquo; first</button></a>
                <a href="?page={{ page_obj.previous_page_number }}"><button type="button"
                        class="btn btn-secondary">previous</button></a>
                {% endif %}
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><button type="button"
                        class="btn btn-secondary">next</button></a>

                <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-secondary">last
                        &raquo;</button></a>
                {% endif %}
                <div class="current mt-3">
                    <p> Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }} </p>
                </div>
            </span>
        </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <h3 class="text-center fst-italic"> Most Viewed </h3>
        {% for Blogeintrag in latest_blog %}
        <div class="list-group">
            <a href="{% url 'blog:blogdetail' Blogeintrag.id %}" class="list-group-item list-group-item-action"
                aria-current="true">
                <div class="row mb-3">
                    <div class="col-8">
                        <h4 class="mb-1">{{ Blogeintrag.title }}</h4>
                    </div>
                    <div class="col-4">
                        <small>{{ Blogeintrag.pub_date|timesince }} ago</small>
                    </div>
                </div>
                <p class="mb-1">{{ Blogeintrag.sidetext|safe }} </p>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}