{% extends 'startpage.html' %}

{% block content %}


<div class="row mt-5">
        <div class="col-sm-12 col-lg-8">

            <h3 class="text-center"> {{ blogeintrag.title }} </h3>
                {{ blogeintrag.maintext|safe }}
                {{ blogeintrag.pub_date}}

            <a href="{% url 'blog:blog' %}">
                <button type="button" class="btn btn-secondary mt-3 mb-3">
                    Zurück zu allen Blogs
                </button>
            </a>
            
        </div>
        <div class="col-sm-12 col-lg-3">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white mt-5">
                <div class="list-group list-group-flush border-bottom scrollarea">
        
                    {% for Blogeintrag in latest_blog %}
                    <a href="{% url 'blog:blogdetail' Blogeintrag.id %}" class="list-group-item list-group-item-action lh-tight pad-zero" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small>Wed</small>
                        </div>
                        <div class="col-10 mb-1 small"> {{ Blogeintrag.sidetext|safe }} </div>
                    </a>
                    {% endfor %}
        
                </div>
            </div>
        </div>
        </div>

{% endblock content %}

</body>





