{% extends 'basetemplate.html' %}

{% load static %}

{% block content %}

<div class="row mt-3 mb-3">
    <div class="col-sm-12 col-lg-8">
        {% for Startpage_model in Startpage_query %}

        {{ Startpage_model.inhalt|safe }}

        {% endfor %}
    </div>
    <div class="col-sm-12 col-lg-1">

    </div>
    <div class="col-sm-12 col-lg-3">
        <img src="{% static 'blog/images/IMG_0105opt.jpg' %}" class="img-fluid img-thumbnail" alt="...">
    </div>
</div>

{% endblock content %}